body{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: larger;
}

#titulo{
    padding:2rem 0;
    text-align: center;
    font-weight: bolder;
    background-color: #ff4500;
}

#incluir{
    margin: 11vh 0 11vw 0;
    font-weight: bolder;
}
#incluirnome{
    font-weight: bolder;
}
